{% extends 'base.html.twig' %}

{% block title %}{{ 'inscription_page'|trans }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <p>{{ 'connexion_required'|trans }}</p>
    {% else %}
    <h1>{{ 'inscription_page'|trans }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {
            label: {{ 'nom'|trans }}
        }) }}
        {{ form_row(registrationForm.prenom, {
            label: {{ 'prenom'|trans }}
        }) }}
        {{ form_row(registrationForm.email, {
            label: {{ 'email'|trans }}
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: {{ 'password'|trans }}
        }) }}

        <button type="submit" class="btn">{{ 'inscription_page'|trans }}</button>
    {{ form_end(registrationForm) }}
    <h2>{{ 'other.connexion'|trans }}</h2>
    <a href="{{ path('app_login') }}"><p>{{ 'connexion_page'|trans }}</p></a>
    {% endif %}

{% endblock %}
