{% extends 'base.html.twig' %}

{% block title %}{{ 'modified_product'|trans }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>{{ 'modified_product'|trans }}</h1>

    {{ form_start(form) }}
    
    {# Afficher l'image actuelle si elle existe #}
    {% if produit.photo %}
        <div>
            <img src="{{ asset('uploads/' ~ produit.photo) }}" alt="Image actuelle du produit" width="150">
            <p>{{ 'image_actuel'|trans }}</p>
        </div>
    {% endif %}

    {{ form_row(form.photo) }}  {# Affiche le champ de téléchargement de l'image #}

    <a href="{{ path('app_produit') }}" >{{ 'back_product'|trans }}</a>

    {{ form_end(form) }}
    {% endif %}
{% endblock %}
