{% extends 'base.html.twig' %}

{% block title %}{{ 'modified_account'|trans }}{% endblock %}

{% block body %}
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>
    <div class="circle circle-4"></div>
    <div class="circle circle-5"></div>
    {% if is_granted('ROLE_ADMIN') %}
    <h1>{{ 'modified_account'|trans }}</h1>

    <div class='form_containerd'>
        {{ form_start(form) }}
        <a href="{{ path('app_produit') }}" >{{ 'back_product'|trans }}</a>
        <button type="submit" class="btn">Modifier</button>
        {{ form_end(form) }}
    </div>
    <a href="{{ path('app_utilisateur') }}" >{{ 'retour_profil'|trans }}</a>
    {% endif %}
{% endblock %}
