{% extends 'base.html.twig' %}

{% block title %}{{ 'modified_account'|trans }}{% endblock %}

{% block body %}
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>
    <div class="circle circle-4"></div>
    <div class="circle circle-5"></div>
    {% if is_granted('ROLE_USER') %}
    <h1>{{ 'modified_account'|trans }}</h1>
    <div class='form_container'>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit" class="btn">Modifier</button>
        {{ form_end(form) }}
    </div>
    <a class='back' href="{{ path('app_utilisateur') }}" >{{ 'retour_profil'|trans }}</a>
    {% endif %}
{% endblock %}
