{% extends 'base.html.twig' %}

{% block title %}{{utilisateur.nom}}{% endblock %}

{% block body %}
    {% if not is_granted('ROLE_USER') %}
        <p>{{ 'connexion_required'|trans }}</p>
    {% endif %}
    <h1>{{ 'hello'|trans }} {{utilisateur.nom}}</h1>
    <div class='user-info-container'>
    <div class="info-container">
    <h2>{{ 'welcome'|trans }}</h2>
    <h2>{{utilisateur.prenom}} {{utilisateur.nom}}</h2>
    <p>{{utilisateur.email}}</p>
    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">{{ 'modified_account'|trans }}</a>
    </div>
    <div class="commande-container">
    <h2>Vos commandes</h2>
        <table>
            {% set i = 0 %}
            <tr>
                <th>ID: </th>
                <th>Total : </th>
                <th>Date : </th>
                <th>Details : </th>
            </tr>
            {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ prixTotal[i] }} €</td>
                <td>{{ commande.dateAchat|date('d/m/Y H:i') }}</td>
                <td><a href="{{ path('app_commande_show', {'id': commande.id}) }}">{{ 'details'|trans }}</a></td>
                {% set i = i + 1 %}
            </tr>
            {% endfor %}
        </table>
    </div>    
    </div>
{% endblock %}
