{% extends 'base.html.twig' %}

{% block title %}{{utilisateur.nom}}{% endblock %}

{% block body %}
    {% if not is_granted('ROLE_USER') %}
        <p>{{ 'connexion_required'|trans }}</p>
    {% endif %}
    <div class='user-info-container'>
    <h1>{{ 'hello'|trans }} {{utilisateur.nom}}</h1>
    <p>{{ 'welcome'|trans }}</p>
    <a href="{{ path('app_logout') }}">{{ 'modified_account'|trans }}</a>
    <a href="{{ path('app_logout') }}">{{ 'modified_account'|trans }}</a>

    <h2>Vos commandes</h2>
        <ul>
            {% set i = 0 %}
            {% for commande in commandes %}
                <li><p>ID: {{ commande.id }}</p></li>
                <li><p>Total : {{ prixTotal[i] }}</p></li> 
                <li><p>Date : {{ commande.dateAchat|date('d/m/Y H:i') }}</p></li>
                <li><a href="{{ path('app_commande_show', {'id': commande.id}) }}">{{ 'details'|trans }}</a></li>
                {% set i = i + 1 %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
